/* 
 * CSS for articles
 */
html {
	font-size: 12px;
}

body {
	background: #efefef;
	color: #222;
}

.max-reading-width {
	max-width: 850px;
	margin: auto;
}

code {
	tab-size: 2;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.75rem;
}

