html {
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}

body {
  background: #222;
  color: rgb(255, 146, 44);
}

.above-fold {
	display: flex;
	flex-direction: column;
	justify-content: center;

	max-width: 800px;
	min-height: 85vh;
	margin: auto;

	text-align: center;
}
.above-fold h3 {
	text-align: center;
}
canvas {
	overflow: hidden;
}



/*************************/
/* Menu styling          */
.menu {
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 27%, 0.8);
    z-index: 10;
    padding: 10% 0;
    transition: transform .45s cubic-bezier(.45,0,0,1);
}

.menu.hidden {
    transform: translateY(-100%);
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    height: calc(100% / 4);
    position: relative;
    font-size: 2em;
    background-color: hsl(0, 0%, 90%);
    color: #5b5b5b;
    overflow: hidden;
    transition: transform .55s cubic-bezier(0,.35,0,1),
                color .15s ease-out .1s;
}

.menu a:hover {
    color: #dfdfdf;
}

.menu a:nth-child(1) { transition-delay: .36s; }
.menu a:nth-child(2) { transition-delay: .24s; }
.menu a:nth-child(3) { transition-delay: .12s; }

.menu.hidden a {
    transform: translateY(-120px);
}


/* Left/right color slides */
.menu a:before, .menu a:after {
    content: " ";
    height: 75%;
    width: 100%;
    left: 0;
    position: absolute;
    transition: transform .4s cubic-bezier(.65,.15,0,1);
}

.menu a:before {
    top: 0;
    transform: translateX(-100%);
    background-color: hsla(177, 34%, 49%, 0.9);
}

.menu a:after {
    bottom: 0;
    transform: translateX(100%);
    transition-delay: 125ms;
    background-color: hsla(0, 0%, 31%, 0.5);
}

.menu a:hover::before { transform: translateX(0%); }
.menu a:hover::after { transform: translateX(0%); }

.menu a span {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 3;
}

/* Buttons */
button {
	
}

/***************************/
/* Hamburger button styles */
.hamburger {
	z-index: 100;
	position: fixed;
	right: 0;
	color: #fff;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: rgb(255, 146, 44);
}

.hamburger:focus {
	outline: 1px solid rgba(240, 240, 240, 0.33);
}

/* Hover animations */
.hamburger:hover .hamburger-inner::before { top: -12px; }
.hamburger:hover .hamburger-inner::after { bottom: -12px; }
.hamburger.is-active:hover .hamburger-inner {
	transform: rotate(770deg);
}
.hamburger.is-active:hover .hamburger-inner::after {
	bottom: 0px;
	transform: rotate(75deg);
}

@media screen and (max-width: 600px) {
	.hamburger {
		bottom: 0;
		margin-bottom: 5px;
	}
}
